
:root{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #EDEDED;
    }
    
    
    table {
      margin: 5rem auto;
      border-radius: 2rem;
      border: 1rem hidden #383838;
      border-collapse: collapse;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.384);
      background-color: #363636;
      overflow: hidden;
    width: 800px;
      max-width: 1280px;
    }
    
      td {
      font-size: 1.0rem;
      line-height: inherit;
      }
    
    thead {
      font-size: 1.2rem;
      background-color: #444444;
      color: #EDEDED;
    }
    
    th, 
    td {
      border: 1px solid #dbdbdb38;
      min-width: 60px;
      max-width: 100px;
      padding: 1.0rem;
      overflow: hidden;
      line-height:inherit;
    }
    
    td {
      font-size: 1.0rem;
    }
    
    .edit-button {
      background-image: url('../../assets/Edit.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 2rem;
      background-color: #dbdbdb00;
      
      width: 100%;
      height: 32px;
      border: 0;
      cursor: pointer;
    }
    .del-button {
      background-image: url('../../assets/Delete.png');
      background-position: center;
      
      background-repeat: no-repeat;
      background-size: 1.5rem;
      background-color: #dbdbdb00;
      
      width: 100%;
      height: 32px;
      border: 0;
      cursor: pointer;
    }
    .members-button {
    background-image: url('../../assets/Search-user.svg');
    background-position: center;
      
      background-repeat: no-repeat;
      background-size: 2.2rem;
      background-color: #dbdbdb00;
      
      width: 100%;
      height: 35px;
      border: 0;
      cursor: pointer;
    }
    

    