body {
    margin: 0 auto;
}

.admin-header {
    height: 5.25rem;
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-around;
    color: #EDEDED;
    background-color: #444444 ;
}

.nav-return-button {
    height: 44px;
    width: 44px;
    border-radius: 100px;
    border: 0;
    background-color: #D9D9D9;
    background-image: url('../../assets/Vector.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;    
}

.nav-logout-button {
    height: 44px;
    width: 44px;
    border-radius: 100px;
    border: 0;
    background-color: #D9D9D9;
    background-image: url('../../assets/Loggout.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-size: 30px;    
    
}
